@import url("https://fonts.googleapis.com/css2?family=Girassol&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}
body {
  background: black;
  overflow-x: hidden;
}

#No1 {
  height: 100%;
}

#No2 {
  height: 100%;
  display: flex;
  background-image: url(/pictures/bwa.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#No3 {
  height: 100%;
  display: flex;
  background: #1c1c1c;
}

#No4 {
  display: flex;
  height: 100%;
}

#No5 {
  height: 100%;
}

#No6 {
  height: 100vh;
  display: flex;
}

.hl {
  position: absolute;
  right: 20%;
  top: 10%;
  z-index: -99999;
  width: 40%;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  position: fixed;
  bottom: 3%;
  right: 5%;
  z-index: 9999;
  color: #f5f3f4;
}

.ab {
  padding-top: 16%;
}

.PP {
  padding-top: 17%;
}

.namea {
  font-size: 30px;
  font-family: "Montserrat";
}

.header {
  position: fixed;
  font-size: 1rem;
  top: 3%;
  right: 85%;
  color: #f5f3f4;
  z-index: 9999;
}

.b {
  color: #f5f3f4;
  transition: 0.3s ease-in;
  margin-right: 1rem;
}

.b:hover {
  color: #c32865;
}

.email {
  font-family: "Montserrat";
  font-weight: 800;
  color: #f5f3f4;
}

#No3 .fp-tableCell {
  background-size: cover;
  padding-left: 10%;
  height: 100%;
  background-color: #1c1c1c;
}

#No4 {
  background-image: url(/aesthetic/4.png);
  background-size: cover;
}

#No5 {
  background: #1c1c1c;
}

#No6 {
  background-image: url(/Untitleddesign/1.png);
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  font-family: sans-serif;
  color: #f5f3f4;
  font-size: 5rem;
  min-height: 30vh;
  padding-left: 10%;
  padding-top: 20%;
  text-transform: uppercase;
}

.sub {
  color: #c32865;
  font-size: 4rem;
  text-transform: uppercase;
}

h2 {
  display: flex;
  flex-direction: column;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
  color: #f5f3f4;
  font-size: 4rem;
  font-family: sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;

  height: 50%;
  width: 50%;
}

#fp-nav ul li a.active span {
  background-color: #c32865;
  transition: all 0.1s ease-in-out;
}

h2 {
  padding-left: 5%;
}

.bio {
  display: inline-block;
  width: 70%;
  margin-left: 20%;
  padding: 1rem;
  font-size: 130%;
  font-weight: 800;
  color: white;
  text-align: end;
  font-family: "Montserrat";
  background: rgba(196, 64, 101, 0.35);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  transition: 0.3s ease-in;
}

.bio:hover {
  color: white;
  background-color: #c32865;
}

.Skills {
  display: inline-block;
  width: 70%;
  margin-left: 20%;
  padding: 1rem;
  font-size: 130%;
  font-weight: 800;
  color: white;
  text-align: end;
  font-family: "Montserrat";
  background: rgba(196, 64, 101, 0.35);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  transition: 0.3s ease-in;
}

.Skills:hover {
  color: white;
  background-color: #c32865;
}

.bio:hover {
  color: white;
  background-color: #c32865;
}

.skills:hover {
  color: #c32865;
}

.NO2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
  padding-top: 5%;
  padding-bottom: 5%;
  gap: 20px;
}

.T {
  color: white;
  text-transform: uppercase;
  /* font-size: 2rem; */
  /* font-weight: bolder; */
  font-size: 3rem;
  font-family: "Comfortaa";
  padding-right: 40%;
  /* padding-bottom: 30%; */
  height: fit-content;
  margin-bottom: 50%;
  flex: 0 1 150px; /*  No stretching: */
  margin: 5px;
  padding-bottom: 10%;
}

.passion {
  display: inline-block;
  width: 70%;
  margin-left: 20%;
  padding: 1rem;
  font-size: 130%;
  font-weight: 800;
  color: white;
  text-align: end;
  font-family: "Montserrat";
  background: rgba(196, 64, 101, 0.35);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  transition: 0.3s ease-in;
}

.passion:hover {
  color: white;
  background-color: #c32865;
}

.T2 {
  color: white;
  text-transform: uppercase;
  /* font-size: 2rem; */
  /* font-weight: bolder; */
  font-size: 3rem;
  font-family: "Comfortaa";
  padding-right: 40%;
  /* padding-bottom: 30%; */
  height: fit-content;
  margin-bottom: 50%;
  flex: 0 1 150px; /*  No stretching: */
  margin: 5px;
}

.education {
  display: inline-block;
  width: 70%;
  margin-left: 20%;
  padding: 1rem;
  font-size: 130%;
  font-weight: 800;
  color: white;
  text-align: end;
  font-family: "Montserrat";
  background: rgba(196, 64, 101, 0.35);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  transition: 0.3s ease-in;
}

.education:hover {
  color: white;
  background-color: #c32865;
}

.T3 {
  color: white;
  text-transform: uppercase;
  /* font-size: 2rem; */
  /* font-weight: bolder; */
  font-size: 3rem;
  font-family: "Comfortaa";
  padding-right: 38%;
  /* padding-bottom: 30%; */
  height: fit-content;
  margin-bottom: 50%;
  flex: 0 1 150px; /*  No stretching: */
  margin: 5px;
}

.T4 {
  color: white;
  text-transform: uppercase;
  /* font-size: 2rem; */
  /* font-weight: bolder; */
  font-size: 3rem;
  font-family: "Comfortaa";
  padding-right: 78%;
  /* padding-bottom: 30%; */
  height: fit-content;
  margin-bottom: 50%;
  flex: 0 1 150px;
  margin: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.H {
  font-family: "Montserrat";
}

#b {
  color: #f5f3f4;
  transition: 0.3s ease-in;
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}

.icons-container {
  width: 50%;
  height: 61.2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  align-items: center;
  margin-left: 15%;
  transition: 0.3s ease-in;
}

.inner-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 10%;
}

.input {
  background: #1c1c1c;
  color: #f5f3f4;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  padding: 5% 10%;
  border: none;
  margin-bottom: 5%;
  width: 130%;
  outline: none;
}

#button {
  border: none;
  color: #f5f3f4;
  transition: 0.3s ease-in;
}
#button:hover {
  background-color: #c32865;
}

.info {
  width: 100%;
}

.contact {
  color: #c32865;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 15%;
  font-size: 3rem;
  font-weight: 900;
  font-family: "Comfortaa";
}
#No4 .fp-tableCell {
  display: flex;
}
/*.Tcontainer{
  max-width: 20%;
}*/

.txtcontainer {
  display: flex;
  flex-direction: row;

  width: 40%;
  min-width: 300px;
  margin: 1%;

  overflow: hidden;
  padding: 1%;
}

.tc1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/pictures/Ronald\ Terblanche\ \(1\).JPG");
  object-fit: contain;
  background-size: cover;
  background-position: center;
}

.tc2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/pictures/Zoe\ Erispe\ \(2\).JPG");
  object-fit: contain;
  background-size: cover;
  background-position: center;
}

.tc3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/pictures/Aneeqah\ Jones\ \(2\).JPG");
  object-fit: contain;
  background-size: cover;
  background-position: center;
}

.tc4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/pictures/Jason2.jpg");
  object-fit: contain;
  background-size: cover;
  background-position: center;
}

.tc5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/pictures/godwin-dzvapatsra.jpg");
  object-fit: contain;
  background-size: cover;
  background-position: center;
}

.MT {
  padding-top: 40px;
}

.txtcontainer {
  font-family: "Montserrat";
  color: #f5f3f4;
  display: flex;
  flex-direction: column;
  font-weight: 800;
}

.Name {
  font-size: 150%;
  margin-bottom: 15px;
}

q {
  font-size: 120%;
}
#No3 .fp-tableCell {
  display: flex;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  width: 150%;
  height: 150%;

  margin: 8px;
  padding: 10%;
}

h4 {
  font-family: "Comfortaa";
  text-transform: uppercase;
}

.Name .job {
  color: rgb(212, 212, 212);
  font-size: 90%;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;

  flex: 0 1 320px;
  padding-bottom: 5px;
  margin: 1px;
  color: #ffffff;

  font-family: "Montserrat";
  font-size: 150%;

  transition: 0.3s ease-in-out;
  background: rgba(195, 40, 101, 0.15);

  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
}

.card-img {
  width: 100%;
}

.button {
  color: #f5f3f4;
  transition: 0.3s ease-in;
}

.button:hover {
  color: #c32865;
}

.formstuff {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30%;
}

a {
  text-decoration: none;
  color: #f5f3f4;
  font-family: sans-serif;
  font-size: 1.5rem;
  transition: 0.5s ease-in;
}

a:hover {
  color: #c32865;
}

.nav {
  z-index: 99999;
  position: fixed;
  right: -100%;
  bottom: 50%;
  transition: 0.5s ease-in;
  padding: 5px;
  background: rgba(28, 28, 28, 0.45);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  list-style: none;
}

.nav.show-menu {
  right: 60px;
  transition: 0.5s ease-in;
}

.Navb {
  color: #f5f3f4;
  border: none;
  outline: none;
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  transition: 0.5s ease-in;
  z-index: 999;
}

.Navb:hover {
  color: #c32865;
}

.filters {
  display: flex;
  /* justify-content: flex-start; */
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 6%;
}

.filtersb {
  color: #f5f3f4;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 4rem;
  transition: 0.5s ease-in;
}

.filtersb:hover {
  color: #c32865;
}

@media screen and (max-width: 1490px) {
  #No1 {
    height: 100vh;
  }

  .NO2 {
    width: 80vw;
  }

  h2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    text-transform: uppercase;
    color: #f5f3f4;
    font-size: 4rem;
    font-family: sans-serif;
  }
  .header {
    position: fixed;
    top: 3%;
    right: 55%;
    color: #f5f3f4;
    z-index: 9999;
  }
  .hl {
    position: absolute;
    right: 12%;
    top: 5%;
    z-index: -99999;
    width: 40%;
  }
  body {
    background: black;
    overflow-x: hidden;
  }

  .header {
    position: fixed;
    top: 3%;
    right: 75%;
    color: #f5f3f4;
    z-index: 9999;
  }

  .namea {
    font-size: 30px;
    font-family: "Montserrat";
  }

  #No2 {
    background-position: center;
  }

  .bio {
    font-size: 170%;
  }

  .passion {
    display: inline-block;
    width: 70%;
    margin-left: 20%;
    padding: 1rem;
    font-size: 150%;
    font-weight: 800;
    color: white;
    text-align: end;
    font-family: "Montserrat";
    background: rgba(196, 64, 101, 0.35);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    transition: 0.3s ease-in;
  }

  .passion:hover {
    color: white;
    background-color: #c32865;
  }

  .education {
    font-size: 170%;
  }

  .formstuff {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
  }
}

@media screen and (max-width: 400px) {
  #No1 {
    height: 168vh;
    width: 108vh;
  }

  .email {
    font-family: "Montserrat";
    font-weight: 800;
    color: #f5f3f4;
    position: fixed;
    left: 4%;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    width: 154vw;
    position: fixed;
    bottom: 3%;
    right: 5%;
    z-index: 9999;
    color: #f5f3f4;
  }

  h1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    font-family: sans-serif;
    color: #f5f3f4;
    font-size: 5rem;
    min-height: 65vh;
    padding-left: 7%;
    padding-top: 20%;
    text-transform: uppercase;
  }

  .hl {
    position: absolute;
    left: 35%;
    top: 70%;
    z-index: -99999;
    width: 90%;
  }

  .T,
  .T2,
  .T3,
  .T4 {
    padding-right: 0%;
  }

  .Skills {
    display: inline-block;
    /* width: 70%; */
    margin-left: 0%;
    padding: 1rem;
    font-size: 100%;
    font-weight: 800;
    color: white;
    text-align: end;
    font-family: "Montserrat";
    background: rgba(196, 64, 101, 0.35);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    transition: 0.3s ease-in;
  }

  .bio {
    display: inline-block;
    margin-left: 0%;
    font-size: 130%;
    font-weight: 800;
    color: white;
    text-align: end;
    font-family: "Montserrat";
    background: rgba(196, 64, 101, 0.35);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    transition: 0.3s ease-in;
  }

  .passion {
    display: inline-block;

    margin-left: 0%;

    font-size: 113%;
    font-weight: 800;
    color: white;
    text-align: end;
    font-family: "Montserrat";
    background: rgba(196, 64, 101, 0.35);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    transition: 0.3s ease-in;
  }

  .education {
    display: inline-block;
    /* width: 70%; */
    margin-left: 0%;
    /* padding: 1rem; */
    font-size: 107%;
    font-weight: 800;
    color: white;
    text-align: end;
    font-family: "Montserrat";
    background: rgba(196, 64, 101, 0.35);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    transition: 0.3s ease-in;
  }
  #No2 {
    height: 100%;
    width: fit-content;
    display: flex;
    background-image: url(/pictures/bwa.jpg);
    background-size: cover;

    background-attachment: fixed;
  }
  /* .NO2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    padding-top: 5%;
    padding-bottom: 5%;
  } */

  #No3,
  #No2,
  #No4,
  #No6 {
    width: 167vw;
  }

  h2 {
    padding-left: 0%;
  }

  .card-container {
    padding: 0%;
  }

  .inner-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 10%;
    padding-left: 32%;
    padding-bottom: 10%;
  }
  .input {
    background: #1c1c1c;
    color: #f5f3f4;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    padding: 5% 10%;
    border: none;
    margin-bottom: 5%;
    width: 94%;
    outline: none;
  }
  #No6 {
    height: 167vh;
    display: flex;
  }
}


@media screen and (max-width: 750px) {
  
}