@import url("https://fonts.googleapis.com/css2?family=Girassol&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  background: none;
}
body {
  background: black;
}
#No1 {
  background-image: url(./Adam_Logo_design\ B&W\ original.png);
  background-size: contain;
  background-position: 80% 50%;
  background-repeat: no-repeat;
}

.hl {
  position: absolute;
  right: 20%;
  top: 10%;
  z-index: -99999;
  width: 40%;
}

.footer {
  position: fixed;
  bottom: 3%;
  right: 5%;
  z-index: 9999;
  color: #f5f3f4;
}

.header {
  position: fixed;
  top: 3%;
  right: 79%;
  color: #f5f3f4;
  z-index: 9999;
}

.b {
  color: #f5f3f4;
  transition: 0.3s ease-in;
  margin-right: 1rem;
}

.b:hover {
  color: #c32865;
}

.email {
  font-family: "Montserrat";
  font-weight: 800;
  color: #f5f3f4;
}

#No2 .fp-tableCell {
  display: flex;
  flex-direction: row;
  background-size: cover;
  padding-left: 10%;
  background-image: url("./Adam-Africa-2-ConvertImage.jpg");
  background-size: 100rem;
  background-position-x: 40%;
  background-position-y: 40%;
}

#No3 .fp-tableCell {
  background-size: cover;
  padding-left: 10%;
  height: 200vh;
  background-color: #1c1c1c;
}

#No4 {
  background-image: url(./aesthetic/4.png);
  background-size: cover;
  padding-left: 10%;
}

#No5 {
  background: #1c1c1c;
  padding-left: 10%;
}

#No6 {
  background-image: url(./Untitleddesign/2.png);
  background-size: cover;
  padding-left: 10%;
}

h1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
  color: #f5f3f4;
  font-size: 5rem;
  min-height: 30vh;
  padding-left: 10%;
  text-transform: uppercase;
}

.sub {
  color: #c32865;
  font-size: 4rem;
  text-transform: uppercase;
}

h2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
  color: #f5f3f4;
  font-size: 4rem;
  font-family: sans-serif;
  animation: fadeIn linear 5s;
  animation-direction: alternate;
  -webkit-animation: fadeIn linear 5s;
  -moz-animation: fadeIn linear 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;

  height: 50%;
  width: 50%;
}

#fp-nav ul li a.active span {
  background-color: #c32865;
  transition: all 0.1s ease-in-out;
}

.ab {
  padding-top: 5%;
}

.bio {
  display: inline-block;
  width: fit-content;
  padding: 1rem;
  margin-left: 15%;
  font-size: 130%;
  font-weight: 800;
  color: white;
  text-align: end;
  font-family: "Montserrat";
  background: rgba(196, 64, 101, 0.35);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  transition: 0.3s ease-in;
}

.bio:hover {
  color: white;
  background-color: #c32865;
}

.NO2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
  padding-top: 10%;
  gap: 20px;
}

.T {
  color: white;
  text-transform: uppercase;
  /* font-size: 2rem; */
  /* font-weight: bolder; */
  font-size: 3rem;
  font-family: "Comfortaa";
  padding-right: 40%;
  /* padding-bottom: 30%; */
  height: fit-content;
  margin-bottom: 50%;
  flex: 0 1 150px; /*  No stretching: */
  margin: 5px;
  padding-bottom: 10%;
}

.passion {
  display: inline-block;
  width: fit-content;
  padding: 1rem;
  margin-left: 45%;
  font-size: 130%;
  font-weight: 800;
  color: white;
  text-align: end;
  font-family: "Montserrat";
  background: rgba(196, 64, 101, 0.35);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  transition: 0.3s ease-in;
}

.passion:hover {
  color: white;
  background-color: #c32865;
}

.T2 {
  color: white;
  text-transform: uppercase;
  /* font-size: 2rem; */
  /* font-weight: bolder; */
  font-size: 3rem;
  font-family: "Comfortaa";
  padding-right: 40%;
  /* padding-bottom: 30%; */
  height: fit-content;
  margin-bottom: 50%;
  flex: 0 1 150px; /*  No stretching: */
  margin: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

#b {
  color: #f5f3f4;
  transition: 0.3s ease-in;
  display: flex;
  margin-right: 1rem;
}

#b:hover {
  color: #c32865;
}

.flex-container {
  width: 100%;
  display: flex;
}

.icons-container {
  background: url(https://i.picsum.photos/id/1042/3456/5184.jpg?hmac=5xr8Veg2D_kEQQO6rvGj_Yk8s_N4iq3-eZ9_KclSXNQ);

  width: 50%;
  display: flex;
  justify-content: center;
  background-size: cover;
  align-items: center;
  margin-left: 15%;
  transition: 0.3s ease-in;
}

.inner-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
  top: 15%;
}

form {
  position: absolute;
  top: 30%;
  right: 30%;
}
.input {
  background: #1c1c1c;
  color: #f5f3f4;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  padding: 5% 10%;
  border: none;
  margin-bottom: 5%;
  width: 120%;
  outline: none;
}

button {
  border: none;
  color: #f5f3f4;
  transition: 0.3s ease-in;
}
button:hover {
  background-color: #c32865;
}

.info {
  width: 100%;
}

.contact {
  color: #c32865;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 15%;
  font-size: 3rem;
  font-family: "Comfortaa";
}
#No4 .fp-tableCell {
  display: flex;
}
/*.Tcontainer{
  max-width: 20%;
}*/

.txtcontainer {
  display: flex;
  flex-direction: row;

  width: 40%;
  height: 20vh;
  min-width: 300px;
  margin: 1%;

  overflow: hidden;
  padding: 1%;
}

.tc1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./Ronald\ Terblanche\ \(1\).JPG");
  object-fit: contain;
  background-size: cover;
  background-position: center;
}

.tc2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./Zoe\ Erispe\ \(2\).JPG");
  object-fit: contain;
  background-size: cover;
  background-position: center;
}

.tc3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./Aneeqah\ Jones\ \(2\).JPG");
  object-fit: contain;
  background-size: cover;
  background-position: center;
}

.tc4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./Jason.jpg");
  object-fit: contain;
  background-size: cover;
  background-position: center;
}

.tc5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./godwin-dzvapatsra.jpg");
  object-fit: contain;
  background-size: cover;
  background-position: center;
}

.MT {
  padding-top: 40px;
}

.txtcontainer {
  font-family: "Montserrat";
  color: #f5f3f4;
  display: flex;
  flex-direction: column;
  font-weight: 800;
}

.Name {
  font-size: 150%;
}

q {
  font-size: 120%;
}
#No3 .fp-tableCell {
  display: flex;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.PP {
  padding-top: 10%;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;

  flex: 0 1 320px;
  margin: 1px;
  color: #ffffff;

  font-family: "Comfortaa";
  transition: 0.3s ease-in-out;
}

.card-img {
  width: 100%;
}

.button {
  color: #f5f3f4;
  transition: 0.3s ease-in;
}

.button:hover {
  color: #c32865;
}

@media screen and (max-width: 1490px) {
  h1 {
    color: #c32865;
  }
  h2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    text-transform: uppercase;
    color: #f5f3f4;
    font-size: 4rem;
    font-family: sans-serif;
    animation: fadeIn linear 5s;
    animation-direction: alternate;
    -webkit-animation: fadeIn linear 5s;
    -moz-animation: fadeIn linear 5s;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .header {
    position: fixed;
    top: 3%;
    right: 55%;
    color: #f5f3f4;
    z-index: 9999;
  }
  .card-container {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}
